@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #ffff;
  line-height: 1.5;
  background: linear-gradient(135deg, #f73434, #f85845, #f97258, #f8896d, #f79e83, #f4b39c, #f0c6b6);

}

.menu {
  margin: 2rem 0;
}

.menu-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100px;
  display: block;

}

.menu-head {
  text-align: center;
  text-shadow: 2px 2px 4px #2c2a2a;
}

.menu-head img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 2px #2b2b2b);
}

.menu-head h2 {
  font-size: 2.4rem;
}

.ribbon-elements {
  font-weight: 100;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(0, 0, 174, 1) 0%, rgba(112, 112, 185, 1) 86%);
  padding: 10px;
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.flex-container1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

}

.flex-container div {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}


.flex-container div img {
  border-radius: 50%;
  filter: drop-shadow(2px 2px 2px #2b2b2b);
}

.flex-container1 div h6 {
  font-weight: 400;
  font-size: 13px;
  padding-top: 10px;
  text-shadow: 2px 2px 4px #2c2a2a;
}

.food-items {
  margin: 2rem 0;
}

.food-item {
  border-radius: 50px;
  overflow: hidden;
  background: #ffff;
  color: black;
  margin: 0.6rem 0;
  box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.75);
  display: ;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.food-img img {
  border-radius: 50px;
}

.food-content {
  padding: 1rem;
}

.food-name {
  color: red;
  text-transform: capitalize;
  font-size: 20px;
}

.line {
  width: 100px;
  height: 2.2px;
  background: red;
}

.food-price {
  padding: 0.4rem 0;
  font-weight: 600;
  font-size: 13.5px;
}

@media screen and (min-width: 600px) {
  .food-item {
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
    padding: 1rem;
    column-gap: 1rem;
  }

  .food-content {
    padding: 0;
  }
}

.footer-ribbon {
  font-weight: 100;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(90deg, rgba(0, 0, 174, 1) 0%, rgba(112, 112, 185, 1) 86%);
  padding: 10px;
  margin-bottom: 10px;
}
